* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
      width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgb(93, 4, 93),rgb(40, 8, 40),rgb(12, 70, 111));
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h2{
    color: aliceblue;
    font-style:initial;
}

nav ul{
    margin: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    border: 1px solid black;
    width: 280px;
    height: 50px;
     background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(-10px);
    -webkit-backdrop-filter: blur(-10px);
    border-radius: 50px;
}
nav li:hover{
    border: 1px solid black;
    width: 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(-10px);
    -webkit-backdrop-filter: blur(-10px);
}

.hero{
    display: flex;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading{
    width: 200px;
    padding: 30px;
    margin: 20px;
}
.heading h1{
    font-size: 40px;
    width: 300px;
    position: relative;
    z-index: 1;
}
.hero p{
    font-size: 10px;
}

.hero img{
    width: 50vh;
    height: 50vh;
}